.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.input {
  background: white;
  display:flex;
  flex-direction: row;
  color: white;
  font-size: 40px;
}

.text-input {
  height:20vh;
  width:30vw;
  border: 1px solid black;
}

.button {
  height: 5vh;
}